
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



/*====================================
Variables
=======================================*/

:root {

  /* Font family */
  --primaryFontFamily: "Work Sans", sans-serif;

  /*Theme Colors */
  --primaryColor: #ff900e;
  --secondaryColor: #fff4e7;

  /*Text Colors */
  --primaryTextColor: #000000;
  --secondaryTextColor: #727272;

  /*Shadow Colors */
 --boxShadow: rgba(100, 100, 111, 0.2) 0px 4px 30px 0px;

  /* Font Sizes */
  --primaryFontSize: 1rem;
  --secondaryFontSize: 1.25rem;
  --subTitleFontSize: 2.813rem;
  --titleFontSize: 4rem;

}

/*=======================================
Reset CSS
========================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  vertical-align:bottom;
}

body {
  font-family: var(--primaryFontFamily);
  font-size: var(--primaryFontSize);
  color: var(--secondaryTextColor);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  width: 100%;
  height: auto;
}


/*==============================
Common CSS
=================================*/

.container {
  max-width: 75rem;
  width: 80%;
  margin: 0 auto;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-100 {
  padding-bottom: 6.25rem;
}

.pt-50 {
  padding-top: 3.125rem;
}

.pb-50 {
  padding-bottom: 3.125rem;
}


.btn{
  padding: 0.75rem 1.5rem;
  background-color: var(--primaryColor);
  color: #ffffff;
  font-weight: bold;
  border-radius: 0.5rem;
}



/*==============================
Hero Section
=================================*/

.hero {
  background-color: var(--secondaryColor);
  padding-top: 2rem;
}

.navbar{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
}

.navbar__logoLink {
  font-size: var(--subTitleFontSize);
  font-weight: 600;
  color: var(--secondaryTextColor);
}

.navbar__logoLink img {
  width: 3rem;
}

.navbar__menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar__link {
  color: var(--secondaryTextColor);
  font-weight: bold;
  transition: all 0.3s linear;
}

.navbar__link:hover {
  color: var(--primaryColor);
}

.hero__content {
  text-align: center;
  margin-top: 10rem;
}

.hero__title{
  font-size: var(--titleFontSize);
  font-weight: 600;
  color: var(--primaryTextColor);
}

.hero__description {
  font-size: var(--primaryFontSize);
  color: var(--secondaryTextColor);
  margin-top: 2rem;
}

.hero__btn{
  margin: 3rem 0;
}