
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



/*====================================
Variables
=======================================*/

:root {

  --font-family-primary:"Work Sans",sans-serif;

  --color-primary:#ff900e;
  --color-secondary:#fff4e7;
  --color-text-primary:#131313;
  --color-text-secondary:#727272;
  --color-white:#fff;

 --boxShadow: rgba(100, 100, 111, 0.2) 0px 4px 30px 0px;

  --font-size-base:1rem;
  --font-size-lg:1.25rem;
  --font-size-xl:2.8125rem;
  --font-size-2xl:4rem;

  --font-weight-regular:400;
  --font-weight-semibold:600;
  --font-weight-bold:700;

  --radius-md:.5rem;

  --transition-fast:.3s ease;

}

/*=======================================
Reset
========================================== */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:var(--font-family-primary);
  font-size:var(--font-size-base);
  color:var(--color-text-secondary);
  line-height:1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color:inherit;
}

img {
  max-width:100%;
  height:auto;
}


/*==============================
Utilities
=================================*/

.container {
  width:min(90%,75rem);
  margin-inline:auto;
}

.pt-100 {
  padding-top: 6.25rem;
}

.pb-100 {
  padding-bottom: 6.25rem;
}

.pt-50 {
  padding-top: 3.125rem;
}

.pb-50 {
  padding-bottom: 3.125rem;
}


.btn{
  display:inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  font-weight: var(--font-weight-bold);
  border-radius: var(--radius-md);
  transition: var(--transition-fast);
}

.btn:hover,
.btn:focus-visible{
  background:#e67e00;
}

a:focus-visible{
  outline:2px solid var(--color-primary);
  outline-offset:3px;
}



/*========================
Header Section
==========================*/

.header{
  background:var(--color-secondary);
  padding: 1.5rem 0;
}

.navbar{
  display:grid;
  grid-template-columns:1fr auto;
  align-items: center;
}

.navbar__logo {
  display: flex;
  gap: 5px;
  align-items: center;
}

.navbar__logo-image{
  width:3rem;
}

.navbar__logo-text{
  font-size:var(--font-size-xl);
  font-weight:var(--font-weight-semibold);
  color:var(--color-text-primary);
}

.navbar__menu{
  display:flex;
  gap:2rem;
}

.navbar__link{
  font-weight:var(--font-weight-bold);
  transition:var(--transition-fast);
}

.navbar__link:hover,
.navbar__link:focus-visible{
  color:var(--color-primary);
}


/*==============================
Hero Section
=================================*/

.hero{
  background:var(--color-secondary);
}

.hero__content {
  text-align: center;
}

.hero__title{
  color:var(--color-text-primary);
  font-size:var(--font-size-2xl);
}

.hero__description {
  margin-top: 2rem;
}

.hero__btn{
  margin: 3rem 0;
}